/* 
=====================================================
======================== ALL ========================
=====================================================
 */

 @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  margin : 0;
  font-family: "Montserrat", sans-serif;
}

#wrapper{
    min-height: 100vh;
    background: hsl(228, 6%, 4%);
    gap: 20px;
}

small{
    color: gray;
}

/* 
=====================================================
====================== HEADER =======================
=====================================================
 */

header{
    display: flex;
    top: 0;
    position: sticky;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    backdrop-filter: blur(10px);
}

.logoCactus a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .navbar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.clientNavbar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#navbarphone{
    display:none;
}

header a{
    color: white;
    transition: 0.5s;
}

header a:link { 
    text-decoration: none; 
} 
header a:visited { 
    text-decoration: none; 
} 
header a:hover { 
    color: hsl(93, 54%, 54%);
    transition: 0.5s;
} 
header a:active { 
    text-decoration: none; 
}

.menu{
    display: none;
}

/* 
=====================================================
======================= MAIN ========================
=====================================================
 */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-left: 17%;
    padding-right: 4%;
    padding-bottom: 8%;
    font-size: large;
    width: 100%;
    gap: 40px;
}

.hautdepage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main figure{
    width: 68%;
    display: flex;
    flex-direction: row-reverse;
}

main img{
    width: 100%;
    filter: drop-shadow(0px 0px 100px hsla(93, 54%, 54%, .4));

}

.hautdepage article{
    box-sizing: border-box;
    padding-right: 100px;
    color: white;
}

.hautdepage h4{
    font-size: 50px;
}

.green{
    color: hsl(93, 54%, 54%);
}

.hautdepage p{
    padding-top: 20px;
    padding-bottom: 70px;
}

.hautdepage div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.goToShop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #fff;
    border-radius: 60px;
    padding-left: 7px;
    padding-right: 17px;
    padding-bottom: 7px;
    padding-top: 7px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.arrowButton{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: hsl(93, 54%, 54%);
    justify-content: center;
    align-items: center;
}

.goToShop i{
    transition: 0.5s;
}

.goToShop:hover i{
    transform: rotate(-19deg);
    transition: 0.5s;
}

.moreDetails{
    color: white;
    font-size: 15px;
    transition: 0.5s;

}

.moreDetails:hover { 
    color: hsl(93, 54%, 54%);
    transition: 0.5s;
} 

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    padding: 3% 3%;
    resize: none;
    color: #000;
    border: none;
    background: none;
  }

input[type=submit] {
    background-color: rgb(24, 59, 73);
    border-radius: 60px;
    border: none;
    color: white;
    padding: 5px;
    margin-left: 100%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.5s;
}

input[type=text]:focus {
    background: none;
    border: none;
    outline: none;
}

input[type=submit]:hover{
    background-color: rgb(104, 167, 192);
}

/* 
=====================================================
======================== NEWS =======================
=====================================================
 */

#news{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 100px;
    background-color: hsl(228, 6%, 4%);
}


.newsText{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: left;
    width: 27%;
}

.newsText h4{
    font-size: 30px;
    padding-bottom: 20px;
}

.container{
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 70px;
}

.firstStage{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.firstStage .card{
    rotate: -7deg;
}

.secondStage .card{
    rotate: 7deg;
}

.card{
    position: relative;
    box-sizing: border-box;
    border: solid 1px hsl(93, 54%, 54%);
    border-radius: 20px;
    width: 160px;
    height: 180px;
    transition: 0.5s;
    background-image: linear-gradient(to bottom, black 0%, hsl(94, 75%, 28%));
}

.hautdepage .card{
    rotate: 7deg;
}

.card figure{
    display: flex;
    height: 10px;
    justify-content: center;
    align-items: center;
}

.card img{
    position: absolute;
    width: 100%;

}

.card:hover{
    transform: translate(0px, -10px);
    transition: 0.5s;
}

.icons{
    display:flex;
    color: white;
    justify-content:center;
    font-size: 250%;
    padding-bottom: 5%;
}

.card-text{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    font-size:16px;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

/* 
=====================================================
======================= SHOP ========================
=====================================================
 */

#shop h4{
    font-size: 30px;
    text-align:center;
    color: white;
    padding-top: 20px;
    padding-left: 30%;
    padding-bottom: 50px;
    padding-right: 30%;
}

.list{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    padding: 0% 20%;
}

.list .card{
    width: 200px;
    height: 240px;
    margin-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.list .card p{
    text-align: start;
    padding-top: 20px;
    font-size: 17px;
}

.list article{
    display: flex;
    flex-direction: column;
}

.buy{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    right: 20px;
}

/* 
=====================================================
======================= CARE ========================
=====================================================
 */

 #care{
    justify-content: center;
    align-items: center;

    font-size: large;
    width: 100%;
    gap: 40px;
}

#care h4{
    font-size: 30px;
    text-align:center;
    color: white;
    padding-top: 100px;
    padding-left: 30%;
    padding-bottom: 50px;
    padding-right: 30%;
}

#care figure{
    width: 68%;
    display: flex;
    flex-direction: row-reverse;
}

#care img{
    width: 75%;
    filter: drop-shadow(0px 0px 100px hsla(93, 54%, 54%, .4));

}

.careAbout{
    display: flex;
    position: block;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.careAbout .hautdepage{
    width: 70%;
}

.careAbout .hautdepage p{
    padding: 0%;

}

.careAbout .hautdepage div{
    gap: 10px;
    align-items: start;
}

.careAbout article{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 40%;
}

.greenCheck{
    padding-top: 5px;
    color: hsl(93, 54%, 54%);
}

 /* 
=====================================================
====================== CONTACT ======================
=====================================================
 */

#contact{
    justify-content: center;
    align-items: center;

    font-size: large;
    width: 100%;
    gap: 40px;
}

#contact h4{
    font-size: 30px;
    text-align:center;
    color: white;
    padding-top: 100px;
    padding-left: 35%;
    padding-bottom: 50px;
    padding-right: 35%;
}

#contact figure{
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact img{
    width: 75%;
    filter: drop-shadow(0px 0px 100px hsla(93, 54%, 54%, .4));

}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.details .hautdepage{
    width: 70%;
}

.details .hautdepage article{
    padding-right: 0%;
    margin-left: 10%;
    width: 30%;
    gap: 20px;
}

.details .hautdepage p{
    padding: 0%;

}

.details .hautdepage .listing{
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-bottom: 20px;
    align-items: start;
}

.details article{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

#contact strong{
    font-size: 20px;
    margin-bottom: 10px;
}

.greenCheck{
    flex-direction: row;
    padding-top: 5px;
    color: hsl(93, 54%, 54%);
}

#contact a { 
    color: hsl(93, 54%, 54%);
} 


 /* 
=====================================================
====================== FOOTER =======================
=====================================================
 */

footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10% 10%;
    gap: 6%;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    text-decoration: none;
    color: #fff;
}

footer strong p{
    color: white;
    padding-bottom: 20px;
}

footer small p{
    padding: 5px 0px;
}

footer small p:hover{
    color: white;
}

footer .logoCactus { 
    padding-bottom: 20px;
    font-size: 20px;
} 

footer .logoCactus strong p{ 
    padding-bottom: 0px;
} 


footer .logoCactus strong p{ 
    color: hsl(0, 0%, 100%);
    transition: 0.5s;
} 

footer .logoCactus strong p:hover{ 
    color: hsl(93, 54%, 54%);
    transition: 0.5s;
} 

footer .logoFooter small p:hover{ 
    color: gray;
} 

footer .logoFooter{
    padding-right: 20%;
}

footer .socialMedia{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer .socialMedia a{
    color: gray;
    transition: 0.5s;
}

footer .socialMedia a:hover{
    color: white;
    transition: 0.5s;
}
